<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/adminbase.css">
</head>
<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
    </ul>
</div>
<div class="mainindex">
    <div class="welinfo">
        <span><img src="../../images/sun.png" alt="天气"></span>
        <b>Admin早上好，欢迎使用信息管理系统</b>(admin@uimaker.com)
    </div>
    <div class="welinfo">
        <span><img src="../../images/time.png" alt="时间"></span>
        <i>您上次登录的时间：2013-10-09 15:22</i>
    </div>

    <div class="formtitle"><span>常用功能</span></div>
    <div class="toolsli">
        <ul class="toollist">
            <li><a href="#"><img src="../../images/i06.png"></a><h2>订单</h2></li>
            <li><a href="#"><img src="../../images/i07.png"></a><h2>系统用户</h2></li>
            <li><a href="#"><img src="../../images/icon01.png"></a><h2>新闻资讯</h2></li>
        </ul>
    </div>
</div>
</body>
</html>