<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <form action="/RoomController/inser" method="post">
            <table>
                <tr>
                    <th>业主</th>
                    <th><input type="text" th:value="${session.landlordName}" disabled class="dfinput"/>
                        <input name="landlordId" type="text" th:value="${session.landlordId}" hidden/>
                    </th>
                </tr>

                <tr>
                    <th>房源名称</th>
                    <th><input name="roomName" type="text" class="dfinput"></th>
                </tr>
                <tr>
                    <th>房源地址</th>
                    <th><input name="roomSite" type="text" class="dfinput"></th>
                </tr>
                <tr>
                    <th>租金/月</th>
                    <th><input name="roomMoney" type="number" class="dfinput" value=""></th>
                </tr>
                <tr>
                    <th>房间类型</th>
                    <th><input name="roomTypeId " type="text" class="dfinput" value=""></th>
                </tr>
                <tr>
                    <th>押金</th>
                    <th><input name="cashPledge " type="number" class="dfinput" value=""></th>
                </tr>
            </table>
            <input type="submit" value="提交">
        </form>
    </div>

</body>
</html>